parameters:
    env(DATABASE_HOST):         localhost
    env(DATABASE_PORT):         5432
    env(DATABASE_NAME):         postgres
    env(DATABASE_USER):         postgres
    env(DATABASE_PASSWORD):     ~
    env(SECRET):                ~
    mailer_transport:           smtp
    mailer_host:                email-smtp.eu-west-1.amazonaws.com
    mailer_encryption:          tls
    mailer_port:                587
    mailer_user:                AKIAIL6DCOD43KF3UL2Q
    mailer_password:            Alk1vanb0+MdWT8cla/9yQOkUnmgCRxyn6rc2u1Y4YnK
    mailer_source_address:      launch@stormdelta.com
    aws_access_key_id:          ~
    aws_secret_key:             ~
    aws_s3_region:              eu-west-1
    aws_s3_version:             latest
    aws_s3_bucket:              the-hague-tech
    aws_s3_prefix_key:          THT_Portal