{% extends 'AppBundle:AdminLTE:base.html.twig' %}

{% block body %}
    {% embed 'AppBundle:AdminLTE:_content.html.twig' %}
        {% block content %}
            <!-- Info boxes -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua">
                            <i class="ion ion-ios-gear-outline"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">Companies</span>
                            <span class="info-box-number">{{companies|length}}
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red">
                            <i class="ion ion-ios-people-outline"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">People</span>
                            <span class="info-box-number">{{users|length}}</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>

                {#<div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green">
                            <i class="ion ion-ios-cart-outline"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">Revenue</span>
                            <span class="info-box-number">&euro;??</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow">
                            <i class="ion ion-ios-people-outline"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">Events</span>
                            <span class="info-box-number">??</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->#}
            </div>
            <!-- /.row -->
        {% endblock %}
    {% endembed %}
{% endblock %}
