<header class="main-header">

    <!-- Logo -->
    <a href="{{ path('app_dashboard_index') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <b>THT</b>
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <b>The Hague</b>
            Tech</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top"></nav>
</header>
